@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    margin: 0px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

button{
    cursor: pointer;
}

main{
    width: 100%;
    height: 97vh;
    display: flex;
}

.left_side_bare{
    height: 97.5vh;
    width: 19vw;
    background: #FAFFC1;
    padding-top: 1.2vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right_side_bare{
    width: 100%;
    height: 100vh;
}

.e-class-logo{
    position: absolute;
    left: 0px;
    font-size: 1.4vw;
    font-weight: bold;
    border-left: 0.4vw solid #4FD5EB;
    padding-left: 0.6vw;
    margin-left: 2vw;
    margin-top: 0px;
}

img{
    max-width: 8.2vw;
    margin-top: 5vw;
}
.name{
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 0px;
}

.role{
    font-size: 0.8vw;
    font-weight: bold;
    color: cyan;
}

.buttons{
    width: 13vw;
}

.bu0{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4vw;
    margin-bottom: 1vw;
    background: #00C1FE;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    font-size: 0.7vw;
}

.bu0:hover{
    transition: 0.4s;
    background: blue;
    color: white;
}

.bu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4vw;
    margin-bottom: 1vw;
    background: transparent;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    font-size: 0.7vw;
}

.bu:hover{
    transition: 0.4s;
    background: blue;
    color: white;
}

.sign_out{
    width: 13vw;
    height: 4vw;
    position: absolute;
    bottom: 0px;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4vw;
    margin-bottom: 1vw;
    background: none;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    font-size: 0.7vw;
}
.logout:hover{
    transition: 0.4s;
    background: blue;
    color: white;
}


header{
    width: 100%;
    height: 5vw;
}

.icons{
    max-width: 0.66vw;
    margin: 0px;
}

.center{
    width: 1vw;
}

.center0{
    width: 3.4vw;
}

header img{
    max-width: 1.5vw;
    margin: 0px;
    float: right;
    margin-right: 3vw;
    margin-left: 1.5vw;
    margin-top: 1.1vw;
}

header input{
    float: right;
    width: 14vw;
    height: 1.7vw;
    border-radius: 0.3vw;
    border: 1px solid #E5E5E5;
    outline: none;
    font-size: 0.8vw;
    padding-left: 0.8vw;
    margin-top: 1vw;
}

header input::placeholder{
    color: #E5E5E5;
}

.divs{
    width: 100%;
    height: 11vw;
    display: flex;
    justify-content: center;
}

.divs1{
    width: 78vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.divs2{
    width: 17vw;
    height: 100%;
    border-radius: 0.7vw;
}

.divs2:first-child{
    background: #F0F9FF;
    position: relative;
}

.divs2:last-child{
    position: relative;
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}

#wst1{
    background: #FEF6FB;
    position: relative;
}

#wst2{
    background: #FEFBEC;
    position: relative;
}

div div div i{
    margin: 1.5vw;
    font-size: 2.5vw;
}

div div div p{
    color: black;
    font-weight: bold;
    margin-left: 1.5vw;
    margin-top: 0px;
    font-size: 1vw;
}

.t{
    color: white;
}

.num{
    font-size: 1.7vw;
    font-weight: bold;
    position: absolute;
    right: 1.3vw;
    margin: 0px;
}



